
@media only screen and (max-width: 400px) {
    .container {
        left: 5%;
        top: 5%;
        min-width: 90%;
        min-height: 90%;
    }
}

@media only screen and (min-width: 401px) {
    .container {
        left: 25%;
        top: 25%;
        min-width: 50%;
        min-height: 50%;
    }
}

.container {
    border: solid 1px #000;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.data {
    display: inline-block;
    text-align: left;
    padding: 20px 40px 20px 40px;
}

.data .row {
    clear: both;
}

.data label {
   font-weight: bold; 
}

.data input {
    float: right;
}

.primary-action {
    margin-top: 2em;
    display: inline;
    border: 1px solid;
    color: #FFF;
    min-width: 50px;
    text-align: center;
    box-shadow: 2px 2px 2px #ccc;
    cursor: pointer;
    background-color: #3b64ce;
    border: #3b64ce;
}

.primary-action:hover {
    background-color: #504869;
    border: 1px solid #504869;
}

.primary-action:active {
    background-color: #504869;
    border: 1px solid #504869;
    box-shadow: 1px 1px 1px #808080;
}

.result {
    display: inline-block;
    text-align: center;
    border: solid 2px black
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    /* width: 120px; */
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* display: none; */
    width: 10rem;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    bottom: 125%;
    /* left: 100%; */
    margin-left: -60px;
    /* opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s; */

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    /* width: 120px; */
    left: 50%;
    /* margin-left: -60px; Use half of the width (120/2 = 60), to center the tooltip */
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    left: 33%;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}